name: learn-github-actions
run-name: heroku deployment setup
on: [push]
jobs:
  deployment-setup:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: '14'
      - run: npm install & cd client && npm install & cd server && npm install
      - run: cd client && npm run build
